<div class="main-content">
  <div class="section-content section-content-p30">
    <h4>Category: {{ currentCategoryName }}</h4>
    <hr>
    <div class="container-fluid">
      <div class="row align-items-end">
        <!-- loop over the collection of products -->
        <div *ngFor="let tempProduct of products" class="col-md-3">
          <div class="product-box">
            <a routerLink="/products/{{ tempProduct.id }}">
              <img class="img-responsive" src="{{ tempProduct.imageUrl }}" />
            </a>
            <h1>
              <a routerLink="/product/{{ tempProduct.id }}">{{ tempProduct.name }}</a>
            </h1>
            <div class="price">{{ tempProduct.unitPrice | currency:'GBP' }}</div>
            <button (click)="addToCart(tempProduct)" class="btn btn-info" >Add to cart</button>
          </div>
        </div>
        <!-- If no products are returned display a message to the user -->
        <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">No products found.</div>
      </div>
      <!-- Pagination Section -->
        <div class="footer-pagination">
          <div class="row">
            <!-- <div class="col-md-6"></div> -->

            <div class="col-md-12">
              <div class="row justify-content-center">
                <div class="justify-content-center" style="">

                  <ngb-pagination [(page)]="thePageNumber"
                                  [pageSize]="thePageSize"
                                  [collectionSize]="theTotalElements"
                                  [maxSize]="4"
                                  [boundaryLinks]="true"
                                  (pageChange)="listProducts()">
                          
                  </ngb-pagination>

                </div>
                
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row justify-content-end">
              <div class="col-md-4 text-right">
              <span class="mr-2">Page size</span>
              <select (change)="updatePageSize($event.target.value)">
                <option>2</option>
                <option selected="true">5</option>
                <option>10</option>
                <option>15</option>
                <option>20</option>
              </select>
              </div>
            </div>
          </div>
        </div>
      <!-- Pagination section end -->
    </div>
  </div>
</div>