<div class="main-content">
  <div class="section-content section-content-p30">
    <h4>Category: {{ currentCategoryName }}</h4>
    <hr>
    <div class="container-fluid">
      <div class="row align-items-end">
        <!-- loop over the collection of products -->
        <div *ngFor="let tempProduct of products" class="col-md-3">
          <div class="product-box">
            <a routerLink="/products/{{ tempProduct.id }}">
              <img class="img-responsive" src="{{ tempProduct.imageUrl }}" />
            </a>
            <h1>
              <a routerLink="/product/{{ tempProduct.id }}">{{ tempProduct.name }}</a>
            </h1>
            <div class="price">{{ tempProduct.unitPrice | currency:'GBP' }}</div>
            <a href="#" class="btn btn-info">Add to cart</a>
          </div>
        </div>
        <!-- If no products are returned display a message to the user -->
        <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">No products found.</div>
      </div>
    </div>
  </div>
</div>